<!DOCTYPE html>
<html lang="en">
<head>
    <title>AJ Healthcare</title>
    <link rel="stylesheet" type ="text/css" href="{{url_for('static' ,filename='style.css')}}">
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">AJ Health</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="hospitallogin">HOSPITAL</a></li>
                    <li><a href="adminlogin">ADMIN</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>

            <div class="search">
                <input class="srch" type="search" name="" placeholder="Type To text">
                <a href="#"> <button class="btn">Search</button></a>
            </div>

        </div> 
        <div class="content">
            <h1>A & J <br><span>HealthCare</span></h1>
            <p class="par">In the complex landscape of modern healthcare,<br>
                 the delivery of medical services and the promotion of overall well-being are paramount.<br>
                  Healthcare encompasses a broad spectrum of disciplines and services aimed at preventing,<br>
                   diagnosing, and treating illnesses, as well as maintaining optimal health</p>

                <button class="cn"><a href="#">JOIN US</a></button>

                <div class="form">
                    <h2>Login Here</h2>
                    <!-- <input type="ID" name="ID" placeholder="Enter ID Here">
                    <input type="password" name="" placeholder="Enter Password Here">-->
                    <button class="btnn"><a href="userlogin">Login</a></button> 

                    <p class="link">Don't have an account<br>
                    <a href="signup">Sign up </a>here</a></p>
                    <p class="liw">Log in with</p>

                    <div class="icons">
                        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-google"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
                    </div>

                </div>
                    </div>
                </div>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>